#menu_btn {
    cursor: pointer;
    left: 0px;
}

#menu_left {
    width: 80%;
    height: 100%;
    position: absolute;
    background: #ff0000;
    top: 0;
    bottom: 0;
    left: -570px;
}

#grey_back {
    display: none;
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.head_profile {
    background-size: cover;
}

.name_profile {
    color: #666666;
    font-weight: 400;
}

.menu-item:hover {
    background: #f7f7f7;

}

@media (min-width: 240px) {

    #menu_left {
        width: 180px;
    }

    .menu_btn {
        margin-top: 4px;
        height: 20px;
    }

    .background_profile {
        height: 198px;
        width: 100%;
    }

    .head_profile {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-top: -65px;
    }

    .name_profile {
        font-size: 2em;
        margin-top: -50px;
        margin-left: 140px;
        margin-bottom: 40px;
    }

    　　
}

@media (min-width: 360px) {

    #menu_left {
        width: 280px;
    }

    .menu_btn {
        margin-top: 4px;
        height: 24px;
    }

    .background_profile {
        height: 198px;
        width: 100%;
    }

    .head_profile {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-top: -65px;
    }

    .name_profile {
        font-size: 2em;
        margin-top: -50px;
        margin-left: 140px;
        margin-bottom: 40px;
    }

    　　
}

@media (min-width: 480px) {


    #menu_left {
        width: 380px;
    }

    .menu_btn {
        margin-top: 4px;
        height: 28px;
    }

    .background_profile {
        height: 198px;
        width: 100%;
    }

    .head_profile {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-top: -65px;
    }

    .name_profile {
        font-size: 2em;
        margin-top: -50px;
        margin-left: 140px;
        margin-bottom: 40px;
    }

    　　
}

@media (min-width: 768px) {


    #menu_left {
        width: 520px;
    }

    .menu_btn {
        margin-top: 6px;
        height: 28px;
    }

    .background_profile {
        height: 198px;
        width: 100%;
    }

    .head_profile {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-top: -65px;
    }

    .name_profile {
        font-size: 2em;
        margin-top: -50px;
        margin-left: 140px;
        margin-bottom: 40px;
    }

    　　
}

@media (min-width: 1280px) {

    #menu_left {
        left: -570px;
        width: 570px;
    }

    .menu_btn {
        margin-top: 8px;
        height: 32px
    }

    .background_profile {
        height: 198px;
        width: 100%;
    }

    .head_profile {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-top: -65px;
    }

    .name_profile {
        font-size: 2em;
        margin-top: -50px;
        margin-left: 140px;
        margin-bottom: 40px;
    }

}

