/* 顶部标题栏 */
.top {
    background-color: #696969;
    width: 100%;
    color: #ffffff;
    text-align: left;
}

@media (min-width: 240px) {
    .top {
        height: 28px;
        line-height: 28px;
        font-size: 0.7em;
        font-weight: 400;
    }
}

@media (min-width: 360px) {
    .top {
        height: 32px;
        line-height: 32px;
        font-size: 0.9em;
        font-weight: 400;
    }
}

@media (min-width: 480px) {

    .top {
        height: 36px;
        line-height: 36px;
        font-size: 1em;
        font-weight: 400;
    }
}

@media (min-width: 768px) {
    .top {
        height: 40px;
        line-height: 40px;
        font-size: 1.1em;
        font-weight: 400;
    }
}

@media (min-width: 1280px) {
    .top {
        height: 48px;
        line-height: 48px;
        font-size: 1.3em;
        font-weight: 400;
    }
}