* {
    outline: medium none !important;
    outline-width: medium;
    outline-style: none;
    outline-color: -moz-use-text-color;
}

.navbar {
    background: #5E87B0 none repeat scroll 0px 0px;
    border: medium none;
    border-radius: 0px;
    margin: 0px;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    width: 250px;
    padding-left: 60px;
}

.container {
    width: 100%;
}

.sidebar-collapse{
    position: absolute;
    top: 10px;
    left: 10px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFF;
    padding: 3px 4px;
}

.sidebar-collapse > [class*="fa-"], .switcher > [class*="fa-"] {
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    padding: 0px 3px;
    position: relative;
    float: right;
}

#sidebar {
    background: #F4F4F4 none repeat scroll 0px 0px;
    padding: 0px !important;
    width: 250px;
    position: absolute;
    border-bottom: 1px solid #E7E7E7;
    margin-left: -250px;
}

#sidebar * {
    text-overflow: ellipsis;
}

#search-bar {
    display: block;
    text-align: center;
}

.search {
    background: #FFF none repeat scroll 0px 0px;
    border: 0px none;
    border-radius: 4px;
    color: #555;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    width: 90%;
    margin: 0px auto 10px;
    padding-right: 30px !important;
}

.search-icon {
    display: block;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    right: 22px;
    top: 29px;
    color: #888;
}

.font-icon {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 2em;
}

.layout-menu-item{
    height: 48px;
    line-height: 48px;
}

.layout-menu-item:hover{
    box-shadow: 1px 1px 1px #d0d0d0;
    background: #ffffff;
}

.layout-menu-active{
    box-shadow: 1px 1px 1px #d0d0d0;
    background: #ffffff;
}

@media  (min-width: 768px){
    #sidebar{
        margin-left: 0;
    }
    #content{
        padding-left: 250px;
    }
}